{% extends 'base.html' %}

{% block header %}
Samplesheets
{% endblock %}

{% block content %}
<div class="container" style="min-width: 1280px;">
    <div class="col-sm-4">
        <input class="form-control" id="samplesheetSearch" type="text" placeholder="Search for run.."> <br>
    </div>
</div>
<div class="container" style="min-width: 1280px;">
    <div class="list-group" id="samplesheetList">
        {% for samplesheet in samplesheets %}
        <div class="col-sm-4 vertical-padding">
            <a class="list-group-item" href="{{ url_for('samplesheet.view', fullname=samplesheet['fullname']) }}">{{ samplesheet['fullname'] }}</a>
        </div>
        {% endfor %}
    </div>
</div>

<script>
$(document).ready(function(){
  $("#samplesheetSearch").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#samplesheetList a").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

{% endblock %}
