{% extends 'base.html' %}

{% block header %}
Samplesheet View
{% endblock %}

{% block content %}
<div class="container" style="min-width: 1280px;">
    <form class="form-horizontal">
        {{ project_form(samplesheet.sequencer, readonly=True) }}
        {{ project_form(samplesheet.run, readonly=True) }}
        {{ project_form(samplesheet.flowcell, readonly=True) }}
        {{ project_form(samplesheet.date, readonly=True) }}
        {{ project_form(samplesheet.assay, readonly=True) }}
        {{ project_form(samplesheet.reagentkit, readonly=True) }}
        {{ project_form(samplesheet.description, readonly=True) }}
        {{ project_form(samplesheet.chemistry, readonly=True) }}
        {{ project_form(samplesheet.reads, readonly=True) }}
        {{ project_form(samplesheet.umi, readonly=True) }}
        {{ project_form(samplesheet.adapter1, readonly=True) }}
        {{ project_form(samplesheet.adapter2, readonly=True) }}
    </form>
</div>

<div class="container" style="min-width: 1280px;">
    <form>
        <div class="container" style="min-width: 1280px;">
            <table class="table" id="samplesheet_data">
                <thead>
                <tr>
                    <th></th>
                    <th>Lane</th>
                    <th>Project</th>
                    <th>Patient no.</th>
                    <th>Sample no.</th>
                    <th>Type</th>
                    <th>Library</th>
                    <th>Index 1</th>
                    <th>Index 2</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                {% for sample in samples %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ samplesheet_data_view(sample.lane) }}</td>
                    <td>{{ samplesheet_data_view(sample.project_name) }}</td>
                    <td>{{ samplesheet_data_view(sample.patient_number) }}</td>
                    <td>{{ samplesheet_data_view(sample.sample_number) }}</td>
                    <td>{{ samplesheet_data_view(sample.sample_type) }}</td>
                    <td>{{ samplesheet_data_view(sample.library) }}</td>
                    <td>{{ samplesheet_data_view(sample.index1) }}</td>
                    <td>{{ samplesheet_data_view(sample.index2) }}</td>
                    <td>{{ samplesheet_data_view(sample.description) }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
</div>

<div class="container" style="min-width: 1280px;">
    <div class="col-sm-1">
        <a class="btn btn-primary" href="{{ url_for('samplesheet.index') }}">Back</a>
    </div>
    <div class="col-sm-offset-11">
        <span class="pull-right">
            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">Delete</button>
        </span>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <form method="post">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Delete samplesheet</h4>
                        </div>
                        <div class="modal-body">
                          <p>Are you sure you want to delete this samplesheet?</p>
                        </div>
                        <div class="form-group">
                            <div class="modal-footer">
                              <button type="submit" class="btn btn-danger">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
