{% extends 'base.html' %}

{% block header %}
General samplesheet info
{% endblock %}

{% block content %}
<div class="container" style="min-width: 1280px;">
    <form class="form-horizontal" method="post">
        {{ project_form(form.sequencer) }}
        {{ project_form(form.run) }}
        {{ project_form(form.flowcell) }}
        {{ project_form(form.date) }}
        {{ project_form(form.assay) }}
        {{ project_form(form.reagentkit) }}
        {{ project_form(form.description) }}
        {{ project_form(form.chemistry) }}
        {{ project_form(form.reads) }}
        {{ project_form(form.umi) }}
        {{ project_form(form.adapter1) }}
        {{ project_form(form.adapter2) }}
        {{ project_form(form.samples_num) }}
        <div class="form-group">
            <div class="col-sm-offset-5 col-sm-1">
                <span class="pull-right">
                    <button type="submit" class="btn btn-default">Next</button>
                </span>
            </div>
        </div>
    </form>
</div>

{% endblock %}
