{% extends 'base.html' %}

{% block header %}
Samplesheet data info
{% endblock %}

{% block content %}
{% if form.errors %}
<div class="container" style="min-width: 1280px;">
    <div class="alert alert-danger">
        <strong>Input error!</strong><br>
        {% for error in form.errors.samples %}
            {{ error|e }}<br>
        {% endfor %}
    </div>
</div>
{% endif %}

<div class="container" style="min-width: 1280px; padding-left: 0px; padding-right: 0px;">
    <form method="post">
        <div class="container" style="min-width: 1280px; padding-left: 0px; padding-right: 0px;">
            <table class="table" id="samplesheet_data">
                <thead>
                <tr>
                    <th></th>
                    <th>Lane</th>
                    <th style='min-width: 145px;'>Project</th>
                    <th style='min-width: 100px;'>Patient no.</th>
                    <th style='min-width: 145px;'>Sample no.</th>
                    <th>Type</th>
                    <th style='min-width: 195px;'>Tissue</th>
                    <th>Library</th>
                    <th>Version</th>
                    <th style='white-space: nowrap; min-width: 100px;'>Index 1</th>
                    <th style='white-space: nowrap;'>Index 2</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr style="font-style: italic;">
                    <td>Ex</td>
                    <td></td>
                    <td>Fase, GBM</td>
                    <td>1458</td>
                    <td>010232-691423</td>
                    <td>BloodEDTA, Tumor, TumorFFPE, cfDNA</td>
                    <td>Normal Blood EDTA, Tumor Tissue RNAlater, ...</td>
                    <td>WES, WGS, RNA</td>
                    <td>v3.2</td>
                    <td>H701</td>
                    <td>H503</td>
                    <td>Reason for rerun</td>
                </tr>
                <tr style="font-style: italic;">
                    <td>Ex</td>
                    <td></td>
                    <td>PANEL</td>
                    <td></td>
                    <td>010232-691423</td>
                    <td>NormalFFPE, Marv, Prenatal</td>
                    <td>Normal Tissue FFPE, Tumor Marrow EDTA, ...</td>
                    <td>BCP, CCP, HREP, MEK, ...</td>
                    <td>v3.2</td>
                    <td>A001</td>
                    <td></td>
                    <td>Reason for rerun</td>
                </tr>
                <tr style="font-style: italic;">
                    <td>Ex</td>
                    <td></td>
                    <td>HPV, P021</td>
                    <td></td>
                    <td>010232-691423</td>
                    <td>HPV, BAK</td>
                    <td></td>
                    <td>Amplicon, WGS, IDSNP</td>
                    <td>v3.2</td>
                    <td></td>
                    <td></td>
                    <td>Reason for rerun</td>
                </tr>
                {% for sample in form.samples %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ samplesheet_data_form(sample.form.lane) }}</td>
                    <td>{{ samplesheet_data_form(sample.form.project) }}</td>
                    <td>{{ samplesheet_data_form(sample.form.patient_number) }}</td>
                    <td>{{ samplesheet_data_form(sample.form.sample_number) }}</td>
                    <td>{{ samplesheet_data_form(sample.form.sample_type) }}</td>
                    <td><input class="form-control" type="text" readonly></td>
                    <td>{{ samplesheet_data_form(sample.form.library) }}</td>
                    <td><input class="form-control" type="text" readonly></td>
                    <td>{{ samplesheet_data_form(sample.form.index1) }}</td>
                    <td>{{ samplesheet_data_form(sample.form.index2) }}</td>
                    <td>{{ samplesheet_data_form(sample.form.description) }}</td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
            <div class="col-sm-offset-11">
                <span class="pull-right">
                    <button type="submit" class="btn btn-default" style='margin-right:10px;'>Create</button>
                </span>
            </div>
        </div>
    </form>
</div>

<script>

    /* for vscode users - these two lines are ok! */
    const library_version_dict = {{ lib_version_dict | tojson }};
    const type_to_tissue_dict = {{ tissue_dict | tojson }};

    $(document).ready(function () {
        $('td input').bind('paste', null, function (e) {
            $this = $(this);
            setTimeout(function () {
                txt = $this.val().replace(/ ?\t ?/g, "\t").replace(/ +/g, "\n");
                let rows = txt.split("\n");
                let currentRowIndex = $this.parent().parent().parent().index();
                let currentColIndex = $this.parent().parent().index();
                let ignored_cols = [6, 8];
                table = $('#samplesheet_data tbody')[0];
                for (let i = 0; i < rows.length; i++) {
                    let i_row = currentRowIndex + i;
                    let cols = rows[i].split("\t");
                    for (var n = 0; n < ignored_cols.length; n++) {
                        index = ignored_cols[n] - currentColIndex;
                        if (index < (currentColIndex + cols.length - 1)) {
                            cols.splice(index, 0, '');
                        }
                    }
                    for (j = 0; j < cols.length; j++) {
                        if (i_row >= table.rows.length) { continue; }
                        let i_col = currentColIndex + j;
                        let cell = table.rows[i_row].cells[i_col];
                        cell.querySelector('input').value = cols[j];
                    }
                }
            }, 0);
        });

        $("#samplesheet_data tbody").on("keyup", function() {
            table = $('#samplesheet_data tbody')[0];
            for (let i = 3; i < table.rows.length; i++) {
                let cell_input = table.rows[i].cells[7];
                let cell_to_read = table.rows[i].cells[8];
                let library_version = library_version_dict[cell_input.querySelector('input').value]
                if (typeof library_version == 'undefined') {
                    library_version = ''
                }
                cell_to_read.querySelector('input').value = library_version;
            }
        });

        $("#samplesheet_data tbody").on("keyup", function() {
            table = $('#samplesheet_data tbody')[0];
            for (var i = 3; i < table.rows.length; i++) {
                var cell_input = table.rows[i].cells[5];
                var cell_to_read = table.rows[i].cells[6];
                var tissue = type_to_tissue_dict[cell_input.querySelector('input').value]
                if (typeof tissue == 'undefined') {
                    tissue = ''
                }
                cell_to_read.querySelector('input').value = tissue;
            }
        });
    });
</script>

{% endblock %}
