<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/GM_small.png') }}">
    <title>Samplesheet Generator</title>
    <style>
        .vertical-padding {
          padding-top: 5px;
          padding-bottom: 5px;
          min-width: 350px;
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Samplesheet Generator</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Samplesheets<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('samplesheet.index') }}">View</a> </li>
                    <li><a href="{{ url_for('samplesheet.create1') }}">Create</a> </li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Projects<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('project.index') }}">View</a> </li>
                    <li><a href="{{ url_for('project.create') }}">Create</a> </li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if g.user %}
            <li>
                <a><span class="glyphicon glyphicon-user"></span>{{ g.user['username'] }}</a>
            </li>
            <li>
                <a href="{{ url_for('auth.logout') }}"><span class="glyphicon glyphicon-log-out"></span>Log out</a>
            </li>
            {% else %}
            <li>
                <a href="{{ url_for('auth.register') }}"><span class="glyphicon glyphicon-user"></span>Sign Up</a>
            </li>
            <li>
                <a href="{{ url_for('auth.login') }}"><span class="glyphicon glyphicon-log-in"></span>Login</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>

    {% macro project_form(field) %}
        {% if field.errors %}
        <div class="form-group has-error">
            <label class="control-label col-sm-2" for="{{ field.id }}">{{ field.label.text }}:</label>
            <div class="col-sm-4">
                {{ field(class='form-control', **kwargs) }}
                <!--<span class="glyphicon glyphicon-remove form-control-feedback"></span>-->
                {% for error in field.errors %}
                <span class="help-block">{{ error|e }}</span>
                {% endfor %}
            </div>
        </div>
        {% else %}
        <div class="form-group">
            <label class="control-label col-sm-2" for="{{ field.id }}">{{ field.label.text }}:</label>
            <div class="col-sm-4">
                {{ field(class='form-control', **kwargs) }}
            </div>
        </div>
        {% endif %}
    {% endmacro %}

    {% macro samplesheet_data_form(field) %}
        {% if field.errors %}
        <div class="form-group has-error">
            {{ field(class='form-control', **kwargs) }}
            <!--<span class="glyphicon glyphicon-remove form-control-feedback"></span>-->
            {% for error in field.errors %}
            <span class="help-block">{{ error|e }}</span>
            {% endfor %}
        </div>
        {% else %}
        <div class="form-group">
            {{ field(class='form-control', **kwargs) }}
        </div>
        {% endif %}
    {% endmacro %}

    {% macro samplesheet_data_view(field) %}
        <div class="form-group">
            <input type="text" class='form-control' readonly value="{{ field }}">
        </div>
    {% endmacro %}

    {% macro gm_image() %}
        <div class="container" style="min-width: 1280px;">
            <div class="col-xs-offset-5 col-sm-1">
                <span class="pull-right">
                    <img src="{{ url_for('static', filename='images/GM_big.png') }}" height="220" width="220">
                </span>
            </div>
        </div>
    {% endmacro %}

    <div class="container" style="min-width: 1280px;">
        <div class="page-header">
            <h2>{% block header %}{% endblock %}</h2>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block content %}{% endblock %}

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
</body>
</html>
