{% extends 'base.html' %}

{% block header %}
New project
{% endblock %}

{% block content %}

<div class="container" style="min-width: 1280px;">
    <form class="form-horizontal" method="post">
        {% for field in form %}
        {{ project_form(field) }}
        {% endfor %}
        <div class="form-group">
            <div class="col-sm-offset-5 col-sm-1">
                <span class="pull-right">
                    <button type="submit" class="btn btn-default">Create</button>
                </span>
            </div>
        </div>
    </form>
</div>


{% endblock %}