{% extends 'base.html' %}

{% block header %}
Edit project
{% endblock %}

{% block content %}

<div class="container" style="min-width: 1280px;">
    <form class="form-horizontal" method="post">
        {{ project_form(form.name, readonly=True) }}
        {{ project_form(form.internal) }}
        {{ project_form(form.has_glass_no) }}
        {{ project_form(form.contact) }}
        {{ project_form(form.contact_mail) }}
        {{ project_form(form.description) }}
        <div class="form-group">
            <div class="col-sm-offset-5 col-sm-1">
                <span class="pull-right">
                    <button type="submit" class="btn btn-default">Create</button>
                </span>
            </div>
        </div>
    </form>
</div>

{% endblock %}