{% extends 'base.html' %}

{% block header %}
Projects
{% endblock %}

{% block content %}
<div class="container" style="min-width: 1280px;">
    <table class="table table-hover" id="projectTable">
        <thead>
        <tr>
            <th>Project</th>
            <th>Internal/External</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {% for project in projects %}
        <tr class='clickable-row' data-href="{{ url_for('project.edit', name=project['name']) }}">
            <td>{{ project['name'] }}</td>
            {% if project['internal'] == 1 %}
                <td>GM</td>
            {% elif project['internal'] == 0 %}
                <td>external</td>
            {% else %}
                <td></td>
            {% endif %}
            <td>{{ project['description'] }}</td>
            <td><i class="material-icons" style="font-size:18px">edit</i></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script>
$(document).ready(function(){
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
</script>
{% endblock %}