{% extends 'base.html' %}

{% block content %}

{{ gm_image() }}

<div class="container" style="min-width: 1280px;">
    <div class="col-sm-offset-1">
        <form class="form-horizontal" method="post">
            {% for field in form %}
            {{ project_form(field) }}
            {% endfor %}
            <div class="form-group">
                <div class="col-sm-offset-5 col-sm-1">
                    <span class="pull-right">
                        <button type="submit" class="btn btn-default">Register</button>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}